<h1>Editing paper</h1>
 
<%= form_for :paper, url: paper_path(@paper), method: :patch do |f| %> 
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :venue %><br>
		<%= f.text_field :venue %>
	</p>
	<p>
		<%= f.label :year %><br>
		<%= f.text_field :year %>
	</p>
	<%= f.label "Author 1", for: "paper_author_id_1" %>
	<%= f.collection_select :author_ids, @authors, :id, :name, 
			{selected: @paper.author_ids[1], include_blank: '(none)'}, 
			{name: "paper[author_ids][]", id: "paper_author_id_1"} %>
			
	<%= f.label "Author 2", for: "paper_author_id_2" %>
	<%= f.collection_select :author_ids, @authors, :id, :name, 
			{selected: @paper.author_ids[2], include_blank: '(none)'}, 
			{name: "paper[author_ids][]", id: "paper_author_id_2"} %>
			
	<%= f.label "Author 3", for: "paper_author_id_3" %>
	<%= f.collection_select :author_ids, @authors, :id, :name, 
			{selected: @paper.author_ids[3], include_blank: '(none)'}, 
			{name: "paper[author_ids][]", id: "paper_author_id_3"} %>
			
	<%= f.label "Author 4", for: "paper_author_id_4" %>
	<%= f.collection_select :author_ids, @authors, :id, :name, 
			{selected: @paper.author_ids[4], include_blank: '(none)'}, 
			{name: "paper[author_ids][]", id: "paper_author_id_4"} %>
			
	<%= f.label "Author 5", for: "paper_author_id_5" %>
	<%= f.collection_select :author_ids, @authors, :id, :name, 
			{selected: @paper.author_ids[5], include_blank: '(none)'}, 
			{name: "paper[author_ids][]", id: "paper_author_id_5"} %>
	<p>
		<%= f.submit %>
	</p>
<% end %>